# import packages

In [1]:
import numpy as np
import pandas as pd
import string
import random
from langdetect import detect
import re

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# initial exploration/summary

In [4]:
train = pd.read_csv(r'C:\Users\caseyrya\Dropbox\foursquare_location_matching_data\data\train.csv')

train['lat_long'] = [', '.join(str(x) for x in y) for y in map(tuple, train[['latitude', 'longitude']].values)]

print(train.shape)
train.head()

(1138812, 14)

,id,name,latitude,longitude,address,city,state,zip,country,url,phone,categories,point_of_interest,lat_long
0,E_000001272c6c5d,Café Stad Oudenaarde,50.859975,3.634196,Abdijstraat,Nederename,Oost-Vlaanderen,9700,BE,NaN,NaN,Bars,P_677e840bb6fc7e,"50.85997533509319, 3.6341963487748346"
1,E_000002eae2a589,Carioca Manero,-22.907225,-43.178244,NaN,NaN,NaN,NaN,BR,NaN,NaN,Brazilian Restaurants,P_d82910d8382a83,"-22.907225306597013, -43.17824390023254"
2,E_000007f24ebc95,ร้านตัดผมการาเกด,13.780813,100.484900,NaN,NaN,NaN,NaN,TH,NaN,NaN,Salons / Barbershops,P_b1066599e78477,"13.780813251617689, 100.48489995223518"
3,E_000008a8ba4f48,Turkcell,37.844510,27.844202,Adnan Menderes Bulvarı,NaN,NaN,NaN,TR,NaN,NaN,Mobile Phone Shops,P_b2ed86905a4cd3,"37.84451021530735, 27.84420157619721"
4,E_00001d92066153,Restaurante Casa Cofiño,43.338196,-4.326821,NaN,Caviedes,Cantabria,NaN,ES,NaN,NaN,Spanish Restaurants,P_809a884d4407fb,"43.338196, -4.326821"

In [ ]:
print(f'duplicate rows: {len(train[train.duplicated()])}')
print()
print()
for col in train.columns:
    print(f'column data type "{col}": {train[col].dtype}')
    print(f'missing values in "{col}": {len(train[train[col].isna()])}')
    print(f'unique values in "{col}": {len(train[train[col].isna() == False][col].unique())}')
    print(f'non-duplicated values in "{col}": {len(train[(train[col].isna() == False) & (train[col].duplicated(keep=False) == False)])}')
    print(f'duplicated values in "{col}": {len(train[(train[col].isna() == False) & (train[col].duplicated())][col].drop_duplicates())}')
    print(f'duplicated values row count in "{col}": {len(train[(train[col].isna() == False) & (train[col].duplicated(keep = False))])}')
    print()

# exploration

In [5]:
eda = train.copy()

eda.head()

,id,name,latitude,longitude,address,city,state,zip,country,url,phone,categories,point_of_interest,lat_long
0,E_000001272c6c5d,Café Stad Oudenaarde,50.859975,3.634196,Abdijstraat,Nederename,Oost-Vlaanderen,9700,BE,NaN,NaN,Bars,P_677e840bb6fc7e,"50.85997533509319, 3.6341963487748346"
1,E_000002eae2a589,Carioca Manero,-22.907225,-43.178244,NaN,NaN,NaN,NaN,BR,NaN,NaN,Brazilian Restaurants,P_d82910d8382a83,"-22.907225306597013, -43.17824390023254"
2,E_000007f24ebc95,ร้านตัดผมการาเกด,13.780813,100.484900,NaN,NaN,NaN,NaN,TH,NaN,NaN,Salons / Barbershops,P_b1066599e78477,"13.780813251617689, 100.48489995223518"
3,E_000008a8ba4f48,Turkcell,37.844510,27.844202,Adnan Menderes Bulvarı,NaN,NaN,NaN,TR,NaN,NaN,Mobile Phone Shops,P_b2ed86905a4cd3,"37.84451021530735, 27.84420157619721"
4,E_00001d92066153,Restaurante Casa Cofiño,43.338196,-4.326821,NaN,Caviedes,Cantabria,NaN,ES,NaN,NaN,Spanish Restaurants,P_809a884d4407fb,"43.338196, -4.326821"

In [78]:
# for comparing old vs. new fields

def clean_text_field_both(df, text_field, new_text_field_name):
    df[new_text_field_name] = df[text_field].str.lower()
    # df[new_text_field_name] = df[new_text_field_name].map(lambda x: re.sub(r'[^\w\s]', '', x) if type(x) == object else x)
    df[new_text_field_name] = df[new_text_field_name].apply(lambda x: re.sub(r'[^\w\s]', '', str(x)))
    # df[new_text_field_name] = df[new_text_field_name].apply(lambda elem: re.sub(r"(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)|^rt|http.+?", "", elem))
    
    return df

In [74]:
# for production

def clean_text_field(df, field):
    df[field] = df[field].str.lower() # map to lower case
    df[field] = df[field].apply(lambda x: re.sub(r'[^\w\s]', '', str(x))) # remove anything that isn’t a word or a whitespace

    # df[field] = df[field].apply(lambda elem: re.sub(r"(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)|^rt|http.+?", "", elem))
    
    return df

In [98]:
# df = eda[eda['address'].isnull()==False][['id','address']].copy()
col = 'zip'

df = eda[['id',col]].copy()
print(df.shape)

df = clean_text_field(df, col)
df[df[col].isnull()==False].head(10)

(1138812, 2)

                 id    zip
0  E_000001272c6c5d   9700
1  E_000002eae2a589    nan
2  E_000007f24ebc95    nan
3  E_000008a8ba4f48    nan
4  E_00001d92066153    nan
5  E_000023d8f4be44    nan
6  E_00002a131a2bf6    nan
7  E_0000764d65557e    nan
8  E_00007dcd2bb53f  94534
9  E_0000890af22ff5    nan

In [96]:
df_ll = eda[['id','latitude','longitude']].copy()

df_ll['latitude'] = round(df_ll['latitude'], 6)
df_ll['longitude'] = round(df_ll['longitude'], 6)

# df['col'].astype(str)

df_ll.head()

                 id   latitude   longitude
0  E_000001272c6c5d  50.859975    3.634196
1  E_000002eae2a589 -22.907225  -43.178244
2  E_000007f24ebc95  13.780813  100.484900
3  E_000008a8ba4f48  37.844510   27.844202
4  E_00001d92066153  43.338196   -4.326821

In [97]:
df_ll['latitude'][0]

50.859975

In [92]:
df_ll.dtypes

id            object
latitude     float64
longitude    float64
dtype: object

In [99]:
test = eda[eda['phone'].isnull()==False][['id', 'phone']].copy()

test['phone_len'] = test['phone'].str.len()

test.sort_values('phone_len', ascending = False).head(100)

,id,phone,phone_len
433297,E_6165f823420990,1014 (Particuliers) - 1016 (Professionnels),43
732108,E_a473b63104d9b6,1014 (Particuliers) - 1016 (Professionnels),43
356977,E_503d20f0a8a8bf,1014 (Particuliers) - 1016 (Professionnels),43
83334,E_12a892f5a08db8,1014 (Particuliers) - 1016 (Professionnels),43
924443,E_cfa8b5197df43d,1014 (Particuliers) - 1016 (Professionnels),43
33792,E_0790cf7e60b85f,(383) 2492000 (383) 2492101 (383) 2492303,41
355851,E_4ffb333e337799,924-82-24 925-29-41 925-35-99 925-28-63,39
356183,E_500cc2bb71f1bc,773-12-82 773-13-16 773-13-18 773-13-19,39
471649,E_69ffe3a1ef6ca8,232-16-12 232-16-18 232-16-41 232-56-90,39
1111546,E_f9dc1f03c48c49,57-52-80-61 57-52-85-27 57-52-73-39,35
552117,E_7c182998031b21,6336288496863362884765639228997651,34
415928,E_5d7165452bc3e7,6372242454463722426149639178803040,34
869158,E_c33f19c3fb89a0,6336288310163362883112639216653672,34
10256,E_025583f1c5a4d9,6338502212263385022122639173043057,34
9495,E_02280541425fb7,(383) 249-40-30 (383) 249-40-60,31
595714,E_85e67483cbbd08,8 (7182) 651214 8 (7182) 530521,31
130477,E_1d41c287ce01cb,"2474-8184, 2474-8185, 2474-8193",31
1004559,E_e1a86aed110f2e,+852 2522 5343/ +852 2552 5627,30
366157,E_52427e9ff4c86d,01(66)22515293/01(66)22515294,29
763988,E_ab9d6457a72052,(0155) 5562 1921/5562 22 50,27
1047322,E_eb5487858acaa2,"(495) 258 54 57, 258 54 58",26
780024,E_af32857c36a78d,"(0322) 45-28-24, 45-28-25",25
510655,E_72ca6b22a76255,"083-688-7695, 02-730-8332",25
1057266,E_ed978e4d822dd8,"(8555) 24-59-02, 24-59-03",25
1131799,E_fe6ab6d7e1e86c,"(0324) 55-80-70, 5-08-64",24
905715,E_cb7432e958483f,01 (78) 2111 5636 / 5640,24
672792,E_972352440507c3,"077-282115 , 089 7293808",24
1053386,E_ecb176518e95f6,051262526100051262527100,24
951314,E_d5b355c3b342a5,051265322388051265575100,24
990987,E_de9db8477b7276,+49 (0) 64 03 / 96 93 40,24
630876,E_8dda7471d18261,63344763019639173609087,23
47693,E_0aab61fb43a8b6,63842173792639202981318,23
1066610,E_efb7f73ee4d966,01(55) 5260 3861 / 3830,23
653491,E_92d9f7f9c8b50a,63888571900639058898229,23
13283,E_0300cc0b8020d4,01(46) 4647 1401 / 6383,23
294935,E_423c339ad1948b,+86 (512) 88855288-888,22
185916,E_29b662c60dea95,6332341458663323414595,22
171322,E_2668b4f3055f19,6332232311163322323117,22
147624,E_2119b7d216d2b7,8802883600088028836444,22
137710,E_1ed8dadb54afbf,6332232311163322323117,22
747705,E_a7fac52e178df3,6332255601063322532893,22
578932,E_82234d05e2bd42,6336288408563362884085,22
934610,E_d1f091202402f2,"026176486,87,88,89,90",21
1018003,E_e4b6332af151ef,281108628110852811080,21
1039315,E_e981e051b12f4d,634640310006328864325,21
180209,E_286eeaab1eb585,011886223315256511512,21
443551,E_63af451d239a7b,022723103102276513854,21
836123,E_bbc0fb8ef267c7,(303) 471-WING (9464),21
149326,E_217ad0e56d8023,010626667748009880153,21
873205,E_c421ea5ac562d8,01(81) 82409110 / 09,20
697593,E_9caf76c2d98991,01 66 22 64 59 61/62,20
532041,E_7792baa336462f,(044) 542-71-18 (17),20
700717,E_9d5fee0d7be819,"227-74717, 2278-6725",20
730547,E_a41a7da4691fef,63281840346328121609,20
379236,E_55330ea892be32,02312040150231205606,20
191748,E_2b05adaf7b204b,+44 (0) 207 284 0513,20
50746,E_0b5c61331f29e1,08975561560819806156,20
295123,E_42474272a9ba9f,+49 (0)30 648 27 630,20
785992,E_b090cc081ffc5e,+33 (0)4 91 01 17 68,20
24873,E_0593ae90defdf8,21226234242122623624,20
255098,E_394a7f4902fdb5,03806090900392351150,20
548991,E_7b621f468e9e84,08777670870892397667,20
788948,E_b13597b4846644,08488550200823387051,20
430611,E_60c657268ca8b6,01(22)99352112/2525,19
384753,E_5670fc972f5bae,0106475538584780596,19
392455,E_582b67836557c5,01(33)3656 1720/426,19
382670,E_55fa203d5f1a75,01(98) 7869 2628/29,19
328095,E_49c0664819e1e1,+380 (98) 929 82 39,19
633840,E_8e81c784f91bc5,+90 (535) 596 64 03,19
946641,E_d4a1196ba60e3e,"0431-851117, 851228",19
157604,E_234ffbf6626771,01(99)99278538/1862,19
355530,E_4fe7d2020edc64,01(33)36202705/2577,19
999427,E_e082c987532437,0208338982983370804,19
651953,E_927e3bf498d1ab,+380 (99) 016 22 63,19
73844,E_1087e96f13dddf,(011)(297) 586 4466,19
490520,E_6e45997d6c724b,01(66)1612 0582/665,19
365791,E_5230f136a12347,0772208570848488333,19
109466,E_188740dfe6ba50,+49 (89) 889 068 74,19
548987,E_7b6204e276dda1,01(81)83590606/5151,19
297938,E_42e6a418ea884d,+38 (044) 277 99 66,19
747242,E_a7e1466827526d,(74)74713913/947660,19
144770,E_2073cf41b25e2f,+86 (898) 8820 9999,19
143232,E_2019f0e529efc6,+33 (0)3.89.77.9000,19
1129473,E_fde2acad3d3d08,0215219977752199777,19
60124,E_0d73c70aadc707,01(78)28249604/9634,19
647322,E_917b5cba6796cf,01(55)55867660/3799,19
904351,E_cb269e49bacd34,+ 61 (0)3 9620 5433,19
364362,E_51e00f88b622e2,01(55)56719524/9648,19
889880,E_c7e56a08354131,0049 (0)89 890 5400,19
915950,E_cdc100b68051be,01(55)5666 9967/567,19
267978,E_3c2f86dfb8ece7,+380 (98) 682 93 89,19
454187,E_66115e470db4b1,0106559813565254639,19
646346,E_91463e65b71caa,01(86)7712 3739/484,19
711807,E_9fe28b4021ae1f,01(55)56640831/2283,19
796057,E_b2c9ff8e7e56b7,+90 (216) 427 28 25,19
380501,E_557cac6fc56932,01(55)56795846/6024,19
1110216,E_f98bf594726249,01(66)7713 9485/393,19
1021384,E_e5794b45d8d19a,+380 (67) 629-39-02,19
292854,E_41c3605e3d74ef,01 (55) 36-26-02-19,19
218391,E_310b4cc6acd13c,01(74)44811032/0947,19

# dev stuff

In [16]:
from langdetect import detect
from langdetect import detect_langs

# def detect_lang(text):
#     return detect(text)

# name_eda['name'].apply(detect_lang)

print(detect('ร้านตัดผมการาเกด'))
print(detect('ビックカメラ JR京都駅店'))
print(detect('Hello Max'))
print(detect('i am the automation'))
print(detect("Otec matka syn."))
print()


print(detect_langs('ร้านตัดผมการาเกด'))
print(detect_langs('ビックカメラ JR京都駅店'))
print(detect_langs('Hello Max'))
print(detect_langs('i am the automation'))
print(detect_langs("Otec matka syn."))

th
ja
it
en
fi

[th:0.9999999944591088]
[ja:0.9999998795307918]
[it:0.7142847028502886, so:0.28571483004638965]
[en:0.9999968395242242]
[fi:0.5714255656124794, pl:0.42857140739166466]