# Import packages

In [5]:
import numpy as np
import pandas as pd
import string
import random

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# train

In [2]:
train = pd.read_csv(r'C:\Users\caseyrya\Dropbox\foursquare_location_matching_data\train.csv')

In [3]:
print(train.shape)
train.head()

(1138812, 13)

,id,name,latitude,longitude,address,city,state,zip,country,url,phone,categories,point_of_interest
0,E_000001272c6c5d,Café Stad Oudenaarde,50.859975,3.634196,Abdijstraat,Nederename,Oost-Vlaanderen,9700,BE,NaN,NaN,Bars,P_677e840bb6fc7e
1,E_000002eae2a589,Carioca Manero,-22.907225,-43.178244,NaN,NaN,NaN,NaN,BR,NaN,NaN,Brazilian Restaurants,P_d82910d8382a83
2,E_000007f24ebc95,ร้านตัดผมการาเกด,13.780813,100.484900,NaN,NaN,NaN,NaN,TH,NaN,NaN,Salons / Barbershops,P_b1066599e78477
3,E_000008a8ba4f48,Turkcell,37.844510,27.844202,Adnan Menderes Bulvarı,NaN,NaN,NaN,TR,NaN,NaN,Mobile Phone Shops,P_b2ed86905a4cd3
4,E_00001d92066153,Restaurante Casa Cofiño,43.338196,-4.326821,NaN,Caviedes,Cantabria,NaN,ES,NaN,NaN,Spanish Restaurants,P_809a884d4407fb

In [9]:
print(f'duplicate rows: {len(train[train.duplicated()])}')
for col in train.columns:
    print(f'duplicate values in column "{col}": {len(train[train[col].duplicated()])}')

duplicate rows: 0
duplicate values in column "id": 0
duplicate values in column "name": 296725
duplicate values in column "latitude": 17111
duplicate values in column "longitude": 58539
duplicate values in column "address": 580657
duplicate values in column "city": 1070706
duplicate values in column "state": 1121215
duplicate values in column "zip": 1045482
duplicate values in column "country": 1138590
duplicate values in column "url": 967589
duplicate values in column "phone": 845357
duplicate values in column "categories": 1086233
duplicate values in column "point_of_interest": 398840

In [10]:
train[train['latitude'].isnull()].head(20)

Empty DataFrame
Columns: [id, name, latitude, longitude, address, city, state, zip, country, url, phone, categories, point_of_interest]
Index: []

In [11]:
train[train['longitude'].isnull()].head(20)

Empty DataFrame
Columns: [id, name, latitude, longitude, address, city, state, zip, country, url, phone, categories, point_of_interest]
Index: []